<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>services</key>
	<array>
		<string>wiki</string>
		<string>wphotos</string>
		<string>ytube</string>
		<string>readability</string>
	</array>
	<key>wiki</key>
	<dict>
		<key>title</key>
		<string>Wikipedia</string>
		<key>get_backuo</key>
		<string>http://www.wikipedia.org/w/api.php?action=query&amp;prop=extracts&amp;exintro&amp;titles=%@&amp;format=json</string>
		<key>searchApi2</key>
		<string>http://www.wikipedia.org/w/api.php?action=query&amp;list=search&amp;srsearch=%@&amp;srprop&amp;format=json</string>
		<key>searchApi</key>
		<string>http://www.wikipedia.org/w/api.php?action=query&amp;list=search&amp;srwhat=text&amp;srsearch=%@&amp;format=json</string>
		<key>imagesApi</key>
		<string>http://www.wikipedia.org/w/api.php?action=query&amp;titles=%@&amp;generator=images&amp;prop=imageinfo%7Cextracts&amp;iiprop=url</string>
		<key>imagesApi2</key>
		<string>http://en.wikipedia.org/w/api.php?action=query&amp;titles=%@&amp;prop=images&amp;format=json</string>
		<key>weblink</key>
		<string>http://wikipedia.org/wiki/%@</string>
		<key>searchKey</key>
		<string>query.search[*].title</string>
		<key>article</key>
		<string>query.pages.{*}.extract</string>
		<key>articleTitle</key>
		<string>query.pages.{*}.title</string>
		<key>dataKey</key>
		<string>title</string>
		<key>get</key>
		<string>http://en.wikipedia.org/w/api.php?action=query&amp;titles=%@&amp;prop=extracts|pageimages&amp;exintro&amp;indexpageids&amp;piprop=thumbnail|name&amp;pilimit=3&amp;pithumbsize=500&amp;format=json</string>
	</dict>
	<key>wphotos</key>
	<dict>
		<key>title</key>
		<string>Wikipedia Photos</string>
		<key>reserveKey</key>
		<string>http://www.wikipedia.org/w/api.php?action=query&amp;titles=%@&amp;generator=images&amp;gimlimit=10&amp;prop=imageinfo&amp;iiprop=url|dimensions|mime&amp;format=json</string>
		<key>get</key>
		<string>http://www.wikipedia.org/w/api.php?action=query&amp;titles=%@&amp;generator=images&amp;gimlimit=3&amp;prop=imageinfo&amp;iiprop=url&amp;format=json</string>
		<key>weblink</key>
		<string>http://%@.wikipedia.org/wiki/</string>
		<key>article</key>
		<string>query.pages.{*}.imageinfo.[0].url</string>
		<key>dataKey</key>
		<string>descriptionurl</string>
		<key>isMedia</key>
		<true/>
	</dict>
	<key>ytube</key>
	<dict>
		<key>title</key>
		<string>Youtube Video</string>
		<key>get</key>
		<string>https://www.googleapis.com/youtube/v3/videos?id=%@&amp;key=AIzaSyBhUTii8-gXwwVi_9uzVmtEZduX4GnmYqU&amp;part=snippet,contentDetails,statistics,status</string>
		<key>searchApi</key>
		<string>http://gdata.youtube.com/feeds/api/videos?q=%@&amp;v=2&amp;alt=jsonc&amp;max-results=11</string>
		<key>article</key>
		<string>feed.entry.[0].media$group.media$thumbnail.[0].url</string>
		<key>articleTitle</key>
		<string>feed.entry.[0].media$group.media$title.$t</string>
		<key>searchKey</key>
		<string>data.items[*].title</string>
		<key>dataKey</key>
		<string>id</string>
		<key>weblink</key>
		<string>http://www.youtube.com/watch?v=%@</string>
		<key>isMedia</key>
		<true/>
		<key>imgURL</key>
		<string>feed.entry.[0].media$group.media$thumbnail.[0].url</string>
	</dict>
	<key>snippet</key>
	<dict>
		<key>searchApi</key>
		<string>http://www.wikipedia.org/w/api.php?action=query&amp;list=search&amp;srwhat=text&amp;srsearch=%@&amp;format=json</string>
		<key>searchKey</key>
		<string>query.search[*].snippet|title</string>
		<key>article</key>
		<string>snippet</string>
		<key>title</key>
		<string>title</string>
	</dict>
	<key>wikitionary</key>
	<dict>
		<key>searchKey2</key>
		<string>http://en.wiktionary.org/w/api.php?format=json&amp;action=query&amp;titles=%@&amp;rvprop=content&amp;prop=revisions</string>
	</dict>
	<key>wordnik</key>
	<dict>
		<key>title</key>
		<string>Wordnik</string>
		<key>description</key>
		<string>English Word lists &amp; Examples</string>
		<key>get</key>
		<string>http://api.wordnik.com:80/v4/word.json/%@/definitions?limit=4&amp;includeRelated=true&amp;sourceDictionaries=all&amp;useCanonical=true&amp;includeTags=true&amp;api_key=ef8a9d0ab4490fdddc0050e3bc709585437ee1d5a8a25daae</string>
		<key>article</key>
		<string>[*].text</string>
		<key>ref</key>
		<string>http://developer.wordnik.com/docs.html#!/word/getDefinitions_get_2</string>
		<key>searchApi</key>
		<string>http://api.wordnik.com:80/v4/word.json/%@/definitions?limit=4&amp;includeRelated=true&amp;sourceDictionaries=all&amp;useCanonical=true&amp;includeTags=true&amp;api_key=ef8a9d0ab4490fdddc0050e3bc709585437ee1d5a8a25daae</string>
	</dict>
	<key>web</key>
	<dict>
		<key>get</key>
		<string>http://www.readability.com/api/content/v1/parser?url=%@&amp;token=f33f3280f5aa9aac744cb84b21797ffd4e0d0188</string>
		<key>article</key>
		<string>content</string>
		<key>articleTitle</key>
		<string>title</string>
		<key>URLEncodeIdentifier</key>
		<false/>
		<key>articleImgURL</key>
		<string>lead_img_url</string>
		<key>domain</key>
		<string>domain</string>
	</dict>
	<key>pubmed</key>
	<dict>
		<key>title</key>
		<string>PubMed</string>
		<key>description</key>
		<string></string>
		<key>searchApi</key>
		<string>http://pipes.yahoo.com/pipes/pipe.run?_id=1b39ecc3914d5f3f2570d8800e5e80a2&amp;_render=json&amp;n=10&amp;offset=0&amp;q=%@</string>
		<key>searchKey</key>
		<string>value.items.[*].MedlineCitation.Article.ArticleTitle</string>
		<key>get</key>
		<string>http://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=pubmed&amp;id=%@&amp;retmode=json</string>
		<key>weblink</key>
		<string>http://ncbi.nlm.nih.gov/pubmed/%@</string>
	</dict>
	<key>instagram</key>
	<dict>
		<key>get</key>
		<string>http://api.instagram.com/oembed?url=%@</string>
		<key>title</key>
		<string>Instagram</string>
		<key>article</key>
		<string>url</string>
		<key>articleTitle</key>
		<string>title</string>
		<key>isMedia</key>
		<true/>
		<key>weblink</key>
		<string>http://instagram.com/p/%@</string>
	</dict>
	<key>fda</key>
	<dict>
		<key>apikey</key>
		<string>GnjsOZwPR8YeYc54CDPzaJDfL4IBMJrsqJ9aH7sp</string>
		<key>searchApi</key>
		<string></string>
	</dict>
</dict>
</plist>
